In [1]:
import pandas as pd

In [5]:
df=pd.read_csv("./data/master.csv")

In [6]:
df.head(
)

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [9]:
len(df)

27820

In [7]:
null_count = df['HDI for year'].isnull().sum()

In [8]:
null_count

19456

In [10]:
dff=df.dropna()

In [11]:
len(dff)

8364

In [16]:
dff['year'].unique()

array([1995, 2000, 2005, 2010, 2012, 2013, 2014, 1985, 1990, 2011],
      dtype=int64)

In [21]:
dg=df.drop(columns=['HDI for year','age',"country-year"])

In [22]:
dg

,country,year,sex,suicides_no,population,suicides/100k pop,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,21,312900,6.71,"2,156,624,900",796,Generation X
1,Albania,1987,male,16,308000,5.19,"2,156,624,900",796,Silent
2,Albania,1987,female,14,289700,4.83,"2,156,624,900",796,Generation X
3,Albania,1987,male,1,21800,4.59,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,9,274300,3.28,"2,156,624,900",796,Boomers
...,...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,107,3620833,2.96,"63,067,077,179",2309,Generation X
27816,Uzbekistan,2014,female,9,348465,2.58,"63,067,077,179",2309,Silent
27817,Uzbekistan,2014,male,60,2762158,2.17,"63,067,077,179",2309,Generation Z
27818,Uzbekistan,2014,female,44,2631600,1.67,"63,067,077,179",2309,Generation Z
27819,Uzbekistan,2014,female,21,1438935,1.46,"63,067,077,179",2309,Boomers

In [23]:
dgg=dg.dropna()

In [24]:
dgg

,country,year,sex,suicides_no,population,suicides/100k pop,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,21,312900,6.71,"2,156,624,900",796,Generation X
1,Albania,1987,male,16,308000,5.19,"2,156,624,900",796,Silent
2,Albania,1987,female,14,289700,4.83,"2,156,624,900",796,Generation X
3,Albania,1987,male,1,21800,4.59,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,9,274300,3.28,"2,156,624,900",796,Boomers
...,...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,107,3620833,2.96,"63,067,077,179",2309,Generation X
27816,Uzbekistan,2014,female,9,348465,2.58,"63,067,077,179",2309,Silent
27817,Uzbekistan,2014,male,60,2762158,2.17,"63,067,077,179",2309,Generation Z
27818,Uzbekistan,2014,female,44,2631600,1.67,"63,067,077,179",2309,Generation Z
27819,Uzbekistan,2014,female,21,1438935,1.46,"63,067,077,179",2309,Boomers

In [ ]:
#drop age,